body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.table-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-x: auto;
    padding: 20px;
}

.table-container > div {
    flex: 1 1 400px;
    margin: 0 10px 20px;
    max-width: 100%;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px 22px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

.npk-table-container {
    height: 652px; /* Adjust this value to fit approximately 15 rows */
    overflow-y: auto;
    border: 1px solid #ddd;
}

.npk-table-container table {
    width: 100%;
}

.npk-table-container thead {
    position: sticky;
    top: 0;
    background-color: #f4f4f4;
    z-index: 1;
}


.npk-table-container td {
    border: 1px solid #ddd;
    background-color: #000000;
}
.npk-table-container th{
   background-color: #2f2f2f; 
}

.npk-table-container th {
    border-top: none;
}

#sendButton {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #053005;
    color: white;
    cursor: pointer;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#caption {
    text-align: center;
    color: #747674;
    font-size: 30px;
}

#manualUpdateForm {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border: 10px solid #4e5252;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(188, 188, 188, 0.94);
    padding: 30px 10px;
    box-sizing: border-box;
    background-color: black;
}

label {
    display: block;
    margin: 10px 0;
}

#latitude,
#longitude,
#nValue,
#pValue,
#kValue {
    width: 100%;
    padding: 10px;
    background-color: #7f8278eb;
    box-sizing: border-box;
    border: none;
    font-size: larger;
    border-radius: 10px;
 
}

#latitude:focus,
#longitude:focus,
#nValue:focus,
#pValue:focus,
#kValue:focus {
    border-bottom: 2px solid #777;
}

#submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #022e02;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}
#submit2{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #022e02;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;

}

button:hover {
    background-color: #066406;
}

.navbar-left {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.navbar {
    padding: 15px 40px;
}

.divider {
    height: 8px;
    border-width: 0;
    background-color: rgb(115, 121, 116);
    margin: 20px 0;
}

@media (max-width: 768px) {
    .table-container {
        flex-direction: column;
    }

    .table-container > div {
        margin: 0 0 20px;
    }
}